<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">AuthApp</a>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link" [routerLink]="['/home']" routerLinkActive="router-link-active" >Home</a>
        <a class="nav-link" [routerLink]="['/precios']" routerLinkActive="router-link-active">Precios</a>
        <div *ngIf="auth.isAuthenticated$ | async;">
        <a class="nav-link" [routerLink]="['/protegida']" routerLinkActive="router-link-active">Protegida</a>
        </div>
      </div>
    </div>
    <div *ngIf="auth.isAuthenticated$ | async;else other_content">
      <button (click)="auth.logout();" class="btn btn-primary">Log out!</button>
    </div>
    <ng-template #other_content>
      <div>
        <button (click)="auth.loginWithRedirect();" class="btn btn-primary">Log in!</button>
      </div>
    </ng-template>
  </nav>
